/* *************************************************************************************************
******************************************    START GLOBAL AREA CSS   ******************************
****************************************************************************************************/
*{
    box-sizing:border-box;
}
html{
	overflow-x: hidden;
}
body{
	width: 100%;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
	font-size:18px;
	margin:0;
	padding:0;
	color:#333;
}

a:hover{
	text-decoration:none;
}
p, h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
/* HEADING STYLE */
h1 {
	font-weight: 900;
	font-style: normal;
	font-size: 42px;
	line-height: 48px;
	color: #fff !important;
}
h2 {
	font-weight: 600;
	font-style: normal;
	font-size: 40px;
	line-height: 46px;
}
h3{
    font-weight: 700;
	font-style: normal;
	
}
h4{
    font-weight: 600;
	font-style: normal;
	font-size: 22px;
}
h5{
    font-weight: 600;
    font-style: normal;
}
h6{
    font-weight: 600;
    font-style: normal;
	font-size:18px;
}

.section-padding{
    padding:90px 0 !important;
}

/* SECTION TITLE */
.section-title h2 {
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	margin-bottom: 17px;
	
}
.section-title p {
	font-size: 18px;
	max-width: 780px;
	margin: 0 auto;
	line-height: 23px;
}
.mt-70{
    margin-top:70px;
}

/* FORM STYLE */
input, textarea, button, select{
	border-radius: 0px !important;
}
input:focus, button:focus, select:focus{
    outline: 0 none !important;
    -webkit-box-shadow: unset !important;
			box-shadow: unset !important;
}
input::placeholder, select option{
	font-family: 'Source Sans Pro' !important;
	font-weight: 400;
}
::placeholder{
	font-size:16px;
}
/***************************************************************************************************
******************************************* END GLOBAL AREA CSS ************************************
****************************************************************************************************/


/***************************************************************************************************
***************************************START HEADER SECTION CSS*************************************
****************************************************************************************************/
.logo-size{
	width:70px;
}
.navbar{
	box-shadow:0px 0px 15px 0px rgba(0,0,0,.1);
}
.navbar-nav .nav-item .nav-link{
	color:#333 !important;
	transition:.5s;
	font-weight: 600;
}
.navbar-nav .nav-item .nav-link:hover{
	color:#EB5CA0 !important;
}
.navbar-nav .nav-item {
	margin-right: 19px;
}
.navbar-nav .nav-item:last-child{
	margin-right: 0px !important;
}
.fixed-header {
	background: #fff !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: .5s;
}
/***************************************************************************************************
*****************************************END HEADER SECTION CSS*************************************
****************************************************************************************************/



/***************************************************************************************************
****************************************** START HOME PAGE CSS**************************************
****************************************************************************************************/
/* start home slider section */
.home-slider-section{
	width:100%;
	position: relative;
}
.home-slider-section::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333;
	top: 0;
	left: 0;
	opacity: .7;
}
.home-slick-slider{
	position: relative;
}
.home-slider-section .home-slick-slider img{
	width:100%;
	height:100%;
	object-fit: cover;
}
.slick-dots {
	bottom: 19px;
	z-index: 99;
}
.slick-dots li button::before {
	font-size: 43px !important;
	color: #EE4994;
}
.slick-dots li.slick-active button::before {
	opacity: .75;
	color:#EE4994;
}
.brand-cart {
	color:#EE4994 !important;
}
/* end home slider section */

/* start product category */
.single-category {
	text-align: center;
	margin-bottom: 27px;
	transition:5s;
}
.single-category .card{
	border:none;
	box-shadow:0px 0px 15px 0px rgba(0,0,0,.1);
	overflow: hidden;
	transition:.5s;
}

.single-product .card .card-body h5, .single-category h5 {
	text-transform: uppercase;
	color: #333 !important;
	font-size: 17px;

}
.card-inner {
	background-color: #3339;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 100%;
	transition: .5s;
}
.single-category .card:hover .card-inner{
	top:0;
}



.card-inner a {
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	z-index: 9;
}
.card-inner a i {
	font-size: 22px;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #fff;
	color: #000;
	border-radius: 50%;
	opacity: 1 !important;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,.1);
	transition:.5s;
}
.card-inner a i:hover{
	background: #EE4994;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,.1);
	color: #fff;
}
/* start product category */

/***************************************************************************************************
****************************************** END HOME PAGE CSS****************************************
****************************************************************************************************/

/***************************************************************************************************
************************************* START PRODUCT PAGE CSS****************************************
****************************************************************************************************/
.product-section-section{

}
.single-product {
	margin-bottom: 26px;
}
.product-section-section .card{
	border:none;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,.1);
}
.card-image{
	position: relative;
	overflow: hidden;
	transition:.5s;
}
.product-card-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	padding: 19px;
	transition: .5s;
	background-color: #3339;
}
.single-product .card:hover .product-card-inner{
	top:0;
}
.card-heading ul{
	margin-bottom:66px;
}
.card-heading ul li {
	font-size: 18px;
	font-weight: 600;
}

/* cart bnutton */
.details{
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.details i {
	height: 50px;
	width: 50px;
	background: #fff;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	transition:.5s;
	color:#333;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,.1);
}
.details i:hover{
	background: #EE4994;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,.1);
	color:#fff;
}
.product-utton {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 9px;
	padding: 19px;
}
.add-to-cart-button {
	background: #333;
	display: block;
	padding: 5px 5px;
	color: #fff;
	font-weight: 600;
	text-align: center;
	transition:.5s;
}

.add-to-cart-details:hover, .add-to-cart-button:hover{
	color:#fff;
	background-color:#EE4893;
}
.add-to-cart-details {
	background: #333;
	display: inline-block;
	padding: 9px 48px;
	color: #fff;
	font-weight: 600;
	text-align: center;
	transition: .5s;
}
/* product details */
.product-details-section #accordion .card{
	border:none;
}

/* ======= */
/* .popular-product-section {
	background-color:#FFF1F1;
} */
/***************************************************************************************************
************************************* END PRODUCT PAGE CSS  ****************************************
****************************************************************************************************/



/***************************************************************************************************
***************************************START FOOTER SECTION CSS*************************************
****************************************************************************************************/
.footer-section{
	background-color:rgb(29, 29, 29);
}
.footer-column{
	margin-bottom:50px;
}
.footer-column h5{
	font-weight: 600;
	text-transform:uppercase ;
}
.footer-column p, .footer-column ul li a {
	font-size: 17px;
}
.footer-column ul li a:hover{
	color:#EE4E98;
}
.footer-column ul li a {
	color: #fff;
	line-height: 32px;
}
.footer-column .social-links a i{
	color:#fff;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#fff;
	color:#EE4E98;
	border-radius:50%;
	transition:.5s;
}
.footer-column .social-links a i:hover{
	background-color:#EE4E98;
	color:#fff;
}
/***************************************************************************************************
*****************************************END FOOTER SECTION CSS*************************************
****************************************************************************************************/